.radio{

display:flex;

align-items:center;

gap:12px;

cursor:pointer;

user-select:none;
}

.radio input{

display:none;
}

.custom{

width:20px;

height:20px;

border-radius:50%;

border:2px solid #0B1F3A;

display:flex;

justify-content:center;

align-items:center;

transition:.25s;
}

.radio input:checked + .custom{

border-color:#D4AF37;
}

.radio input:checked + .custom::after{

content:"";

width:10px;

height:10px;

border-radius:50%;

background:#D4AF37;
}

.label{

font-family:"Poppins",sans-serif;

font-size:1rem;

color:#1F2937;
}