/**
==========================================================
Geo & Kristine RSVP System
----------------------------------------------------------
Attendance Chart

Author:
OpenAI + Otep

Version:
1.0.0
==========================================================
*/

.chart{

    width:100%;

    height:320px;

    position:relative;

}

@media(max-width:768px){

.chart{

height:260px;

}

}